<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tn.enis.enismap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="tn.enis.enismap.Acceuil"></activity>
        <activity
            android:name="tn.enis.enismap.MainActivity"
            />
        <activity android:name="tn.enis.enismap.MapActivity" />
        <activity
            android:name="tn.enis.enismap.PlacesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="tn.enis.enismap.PlaceDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="tn.enis.enismap.DirectionDeStageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
             />
        <activity
            android:name="tn.enis.enismap.FaqActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
             />
        <activity
            android:name="tn.enis.enismap.MenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
             />
        <activity
            android:name="tn.enis.enismap.PremiereActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
             />
        <activity
            android:name="tn.enis.enismap.ProcActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
             />
        <activity android:name="tn.enis.enismap.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>